RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^announce$ modules/xtorrent/announce.php$1
RewriteRule ^announce/$ modules/xtorrent/announce.php$1

RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([0-9]+),([0-9]+),([0-9]+),([a-zA-Z0-9]+),([a-zA-Z0-9]+) modules/xtorrent/viewcat.php?cat=$1&cid=$2&start=$3&selectdate=$4&list=$5&orderby=$6 [L,NC,QSA]
RewriteRule ^torrents/search/([a-zA-Z0-9]+),([a-zA-Z0-9]+) modules/xtorrent/viewcat.php?list=$1&orderby=$2 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([0-9]+),([0-9]+) modules/xtorrent/viewcat.php?cat=$1&lid=$2&cid=$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([0-9]+) modules/xtorrent/viewcat.php?cat=$1&cid=$2 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/admin/([a-zA-Z0-9\&\%\?\_\.\-\=]+) modules/xtorrent/admin/$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/admin/([a-zA-Z0-9\&\%\?\_\.\-\=]+) modules/xtorrent/admin/$2 [L,NC,QSA]
RewriteRule ^torrents/admin/([a-zA-Z0-9\&\%\_\-\=\?\.]+) modules/xtorrent/admin/$1 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/images/([a-zA-Z0-9\ \%\_\-]+)/(.*) modules/xtorrent/images/$3/$4 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/images/(.*) modules/xtorrent/images/$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/images/([a-zA-Z0-9\ \%\_\-]+)/(.*) modules/xtorrent/images/$2/$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/images/(.*) modules/xtorrent/images/$2 [L,NC,QSA]
RewriteRule ^torrents/images/([a-zA-Z0-9\ \%\_\-]+)/(.*) modules/xtorrent/images/$1/$2 [L,NC,QSA]
RewriteRule ^torrents/images/(.*) modules/xtorrent/images/$1 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/addto/(.*) modules/xtorrent/addto/$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/addto/(.*) modules/xtorrent/addto/$2 [L,NC,QSA]
RewriteRule ^torrents/addto/(.*) modules/xtorrent/addto/$1 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/([0-9]+),([0-9]+) modules/xtorrent/singlefile.php?cat=$1&title=$2&lid=$3&cid=$4 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/comment_([a-zA-Z0-9\&\%\?\_\.\-\=]+) modules/xtorrent/comment_$3 [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/singlefile.php$ modules/xtorrent/singlefile.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/index.php$ torrents/ [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/viewcat.php$ modules/xtorrent/viewcat.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/visit.php$ modules/xtorrent/visit.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/topten.php$ modules/xtorrent/topten.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/newlist.php$ modules/xtorrent/newlist.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/([a-zA-Z0-9\ \%\_\-]+)/submit.php$ modules/xtorrent/submit.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/index.php$ torrents/ [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/viewcat.php$ modules/xtorrent/viewcat.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/visit.php?$ modules/xtorrent/visit.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/viewcat.php$ modules/xtorrent/viewcat.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/visit.php?$ modules/xtorrent/visit.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/topten.php$ modules/xtorrent/topten.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/newlist.php$ modules/xtorrent/newlist.php [L,NC,QSA]
RewriteRule ^torrents/([a-zA-Z0-9\ \%\_\-]+)/submit.php$ modules/xtorrent/submit.php [L,NC,QSA]
RewriteRule ^torrents/index.php$ modules/xtorrent/index.php [L,NC,QSA]
RewriteRule ^torrents/viewcat.php$ modules/xtorrent/viewcat.php [L,NC,QSA]
RewriteRule ^torrents/visit.php$ modules/xtorrent/visit.php [L,NC,QSA]
RewriteRule ^torrents/topten.php$ modules/xtorrent/topten.php [L,NC,QSA]
RewriteRule ^torrents/newlist.php$ modules/xtorrent/newlist.php [L,NC,QSA]
RewriteRule ^torrents/submit.php$ modules/xtorrent/submit.php [L,NC,QSA]
RewriteRule ^torrents/$ modules/xtorrent/ [L,NC,QSA]