#Mod Rewrite for Xoops
#Author Wishcraft - simon@chronolabs.org.au
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/([0-9]+)$ feed.php?source=$1&numitems=$2 [L]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/$ feed.php?source=$1 [L]
RewriteRule ^$ feed.php    [L]
RewriteRule (.*) feed.php [L]
