#Mod Rewrite for Xoops
#Author Wishcraft - simon@chronolabs.org.au
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([0-9]+),([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/ index.php?source=$1 [L,NC,QSA]
RewriteRule ^([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([0-9]+),([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/ index.php?source=$1 [L,NC,QSA]
RewriteRule ^([0-9]+) index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([0-9]+),([0-9]+).rss index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/([0-9]+) index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/ index.php?source=$1 [L,NC,QSA]
RewriteRule ^([0-9]+) index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([0-9]+),([0-9]+) index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/([0-9]+) index.php?source=$1&numitems=$2 [L,NC,QSA]
RewriteRule ^([a-zA-Z0-9\ \%\_\-]+)/ index.php?source=$1 [L,NC,QSA]

